body {
  min-height: 100vh;
  margin: auto;
  display: flex;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
